<div class="col-md-2 container">
 <div class="panel panel-default">
   <div class="panel-heading"><a href="#/call">{{current_user.full_name}}</a></div>
   <ul class="nav nav-sidebar">
    <li><a href="#/call">Call Center</a></li>
    <li><a href="#/call">Analytics</a></li>
  </ul>
</div>
</div>

<div class="col-md-10 container">
 <div class = "row">
  <div class = "col-md-3">
   On call with:

   <div>  (408) 348-9187 </div>
 </div>

 <div class = "col-md-4">
   Total:
   <input type="text" class = "span2" placeholder = "Enter $ Amount"/> 
 </div>

 <div class = "col-md-1">
  7:43
</div>

<div class = "col-md-4 btn-group-vertical">
  <button type = "button" class="btn btn-default btn-lg">
   Transfer
 </button>
 <button type="button" class="btn btn-default btn-lg">
   Done
 </button>

</div>
</div>

</div>