<div class="col-md-2 container">
 <div class="panel panel-default">
   <div class="panel-heading"><a href="#/call">{{current_user.full_name}}</a></div>
   <ul class="nav nav-sidebar">
    <li><a href="#/call">Call Center</a></li>
    <li><a href="#/call">Analytics</a></li>
  </ul>
</div>
</div>

<div class="col-md-10 container">
 <div class = "row">
  <div class = "col-md-3">
   On call with:

   <div>  (408) 348-9187 </div>
 </div>

 <div class = "col-md-4">
   Total:
   <input type="text" class = "span2" placeholder = "Enter $ Amount"/>
 </div>

 <div class = "col-md-1">
  7:43
</div>

<div class = "col-md-4 btn-group-vertical">
  <button class="btn btn-primary" data-toggle="modal" data-target="#transferModal">
    Open call transfer modal
  </button>
 <button type="button" class="btn btn-default btn-lg">
   Done
 </button>

</div>
</div>

</div>

<div class="modal fade" id="transferModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Choose Transfer</h4>
      </div>

      <div class="modal-body">

        <div class="agent-container">
          <input type="radio" />
          <div class="agent">
            <img class="avatar" src="http://placehold.it/60x60"/>
            <div class="agent-info">
              <p class="agent-name">Jane Doe</p>
              <p class="agent-status">
                <span class="status-indicator status-busy"></span> Busy
              </p>
            </div>
          </div>
        </div>

        <div class="agent-container">
          <input type="radio" />
          <div class="agent">
            <img class="avatar" src="http://placehold.it/60x60"/>
            <div class="agent-info">
              <p class="agent-name">John Smith</p>
              <p class="agent-status">
                <span class="status-indicator status-available"></span> Available
              </p>
            </div>
          </div>
        </div>

      </div><!-- .modal-body -->

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Transfer</button>
      </div>

    </div>
  </div>
</div>
