<div class="row">
  <div class="col-xs-12 notification-bar-container">

    <div class="notification-bar">
      <div class="row">

        <div class="col-xs-7 col-xs-offset-1 agent-info-container">
          <!-- TODO: # angular gravatar here -->

          <div style="overflow: auto;">
            <span class="agent-name">{{current_agent.full_name}}</span>

            <div class="status-switch-container">
              <div class="status-switch">
                <input type="checkbox" class="status-switch-checkbox" id="agent-status-switch" checked>
                <label class="status-switch-label" for="agent-status-switch">
                  <div class="status-switch-inner"></div>
                  <div class="status-switch-switch"></div>
                </label>
              </div>
            </div>
          </div>

        </div><!-- .agent-info-container -->

        <div ng-show="incoming" class="col-xs-4 incoming-call-container">
          <span class="glyphicon glyphicon-phone-alt incoming-call-icon"></span>
          <span class="incoming-call-label">Incoming! ({{calls.length}})</span>
        </div>

      </div>
    </div><!-- .notification-bar -->
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>{{current_organization.name}}</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#/dashboard">Incoming</a></li>
      <li><a href="#/dashboard">In Progress</a></li>
      <li><a href="#/dashboard">Completed</a></li>
    </ul>
  </div>
</div>


<!-- filters -->
<div class="row top-buffer">
  <div class="col-md-2">Filter By:</div>

  <div class="col-md-3 btn-group">
    <button type="button" class="btn">Location</button>
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#/dashboard">Santa Barbara</a></li>
    </ul>
  </div>

  <div class="col-md-3 btn-group">
    <button type="button" class="btn">Agent Name</button>
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li><a href="#/dashboard">Nivedh Mohinder</a></li>
    </ul>
  </div>
</div>


<!-- table of calls -->
<div class="row top-buffer">
  <div class="col-md-12">

    <table class="table table-striped calls-table">
      <tr class="table-header">
        <th>Name</th>
        <th>Location</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>

      <tr ng-repeat="call in calls">
        <td>{{ call.name }}</td>
        <td>{{ call.city }}</td>
        <td>{{ call.number }}</td>

        <td>
          <a href="#/call/{{ call.id }}">
            <span class="glyphicon glyphicon-earphone" style="margin-right: 5px;"></span>
            Answer
          </a>
        </td>

      </tr>
    </table>

  </div>
</div>
