<div class="row">
  <div class="col-md-12">
    <h1>{{current_organization.name}}</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#/dashboard">Incoming</a></li>
      <li><a href="#/dashboard">In Progress</a></li>
      <li><a href="#/dashboard">Completed</a></li>
    </ul>
  </div>
</div>


<!-- filters -->
<div class="row top-buffer">
  <div class="col-md-2">Filter By:</div>

  <div class="col-md-3 btn-group">
    <button type="button" class="btn">Location</button>
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#/dashboard">Santa Barbara</a></li>
    </ul>
  </div>

  <div class="col-md-3 btn-group">
    <button type="button" class="btn">Agent Name</button>
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li><a href="#/dashboard">Nivedh Mohinder</a></li>
    </ul>
  </div>
</div>


<!-- table of calls -->
<div class="row top-buffer">
  <div class="col-md-12">

    <table class="table table-striped calls-table">
      <tr class="table-header">
        <th>Name</th>
        <th>Location</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>

      <tr ng-repeat="call in calls">
        <td>{{ call.name }}</td>
        <td>{{ call.city }}</td>
        <td>{{ call.number }}</td>

        <td>
          <a href="#/call/{{ call.id }}">
            <span class="glyphicon glyphicon-earphone" style="margin-right: 5px;"></span>
            Answer
          </a>
        </td>

      </tr>
    </table>

  </div>
</div>
