<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="animation-container">
        <div class="node-box node-browser"
             ng-class="(active_node=='node-browser') ? 'node-active' : ''">Browser</div>

        <div class="node-link node-browser-broker"
             ng-class="(active_node=='node-browser-broker') ? 'node-active' : ''"></div>

        <div class="node-box node-broker"
             ng-class="(active_node=='node-broker') ? 'node-active' : ''">Broker</div>

        <div class="node-link node-broker-invoca"
             ng-class="(active_node=='node-broker-invoca') ? 'node-active' : ''"></div>

        <div class="node-box node-invoca"
             ng-class="(active_node=='node-invoca') ? 'node-active' : ''">Invoca</div>
      </div>

    </div>
  </div>
</div>
