<div class="row">
  <div class="col-md-12">
    <h1 class="organization-name">{{current_organization.name}}</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li><a href="#/dashboard">Incoming</a></li>
      <li class="active"><a href="#/inProgress">In Progress</a></li>
      <li><a href="#/completed">Completed</a></li>
    </ul>
  </div>
</div>


<!-- filters -->
<div class="row top-buffer">
  <div class="col-md-2">Filter By:</div>

  <div class="col-md-3 btn-group btn-group-light">
    <button type="button" class="btn">Location</button>
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#/dashboard">Santa Barbara</a></li>
    </ul>
  </div>

  <div class="col-md-3 btn-group btn-group-light">
    <button type="button" class="btn">Agent Name</button>
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
          <li ng-repeat="agent in all_agents" ><a href="#/dashboard">{{agent.full_name}}</a></li>
    </ul>
  </div>
</div>


<!-- table of calls -->
<div class="row top-buffer">
  <div class="col-md-12">

    <table class="table table-striped calls-table">
      <tr class="table-header">
        <th>Name</th>
        <th>Location</th>
        <th>Phone Number</th>
        <th>Agent on Call</th>
      </tr>

       
        <tr>
        <td>Bob Saget</td>
        <td>San Jose, CA</td>
        <td>4084589176</td>
        <td>Nivedh Mohinder</td>
        </tr>
         <tr>
        <td>Daniel Johnson</td>
        <td>Los Angeles, CA</td>
        <td>8501438732</td>
        <td>Pete Cruise</td>
        </tr>

        <td>


         </table>

  </div>
</div>
