<!-- modal -->
<div id="transferModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Choose Transfer</h4>
  </div>

  <div class="modal-body">
    <div class="agent-container">
      <input type="radio" />
      <div class="agent">
        <img class="avatar" src="http://placehold.it/60x60"/>
        <div class="agent-info">
          <p class="agent-name">Jane Doe</p>
          <p class="agent-status">
            <span class="status-indicator status-busy"></span> Busy
          </p>
        </div>
      </div>
    </div><!-- .agent-container -->

    <div ng-repeat="agent in all_agents">
      <div class="agent-container">
        <input type="radio" />
        <div class="agent">
          <img class="avatar" src="http://placehold.it/60x60"/>
          <div class="agent-info">
            <p class="agent-name">{{agent.full_name}}</p> {{agent.email}}
            <p class="agent-status">
              <span class="status-indicator status-available"></span> Available
            </p>
          </div>
        </div>
      </div><!-- .agent-container -->
    </div>
    
  </div><!-- .modal-body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Transfer</button>
  </div>