<div id="transferModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Choose Transfer</h4>
  </div>

  <div class="modal-body" ng-hide="transferred">
    <div ng-repeat="agent in all_agents" class="agent-container">
      <input type="radio" name="radioGroup" id="radioGroup{{agent.id}}" ng-model="$parent.radioMod" value="{{agent.id}}"/>
      <label for="radioGroup{{agent.id}}">
        <div class="agent">
          <img class="avatar" src="{{agent.avatar_url}}"/>
          <div class="agent-info">
            <p class="agent-name">{{agent.full_name}}</p> {{agent.email}}
            <p class="agent-status">
            <span class="status-indicator status-available"></span> Available
            </p>
          </div>
        </label>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="transfer(radioMod)">
        Transfer
      </button>
    </div>
  </div>


  <div class="modal-body" ng-show="transferred">
    <div class="spinner modal-spinner"></div>
  </div>
</div>
