<!-- modal -->
<div id="transferModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Choose Transfer</h4>
  </div>

  <div class="modal-body">

    <div ng-repeat="agent in all_agents" class="agent-container">
      <input type="radio" name="complete"/>
      <div class="agent">
        <img class="avatar" src="{{agent.avatar_url}}"/>
        <div class="agent-info">
          <p class="agent-name">{{agent.full_name}}</p> {{agent.email}}
          <p class="agent-status">
            <span class="status-indicator status-available"></span> Available
          </p>
        </div>
      </div>
    </div>

  </div><!-- .modal-body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Transfer</button>
  </div>
</div>
