<div class="col-md-3 sidebar-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= avatar_for(current_user) %>
      <%= current_user.full_name %>
    </div>
    <ul class="nav nav-sidebar">
      <li><a href="#/dashboard">Dashboard</a></li>
      <li><a href="#/settings">Settings</a></li>
    </ul>
  </div><!-- .panel-default -->
</div><!-- .sidebar-container -->
