<section class="landing-image-container">

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>RingBase lets you set up your call center in minutes.</h1>

        <%= link_to 'Try it now.', new_user_path, class: 'btn btn-primary btn-xlarge' %>
      </div>
    </div>
  </div>

</section>



<section class="features-container">

  <h2>Real-time management and collaboration is at your fingertips.</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="glyphicon glyphicon-phone"></i>
        <h3>See calls when they come in</h3>
        <p>RingBase keeps track of your employees and your customers so you don't have to.</p>
      </div>

      <div class="col-md-4">
        <i class="glyphicon glyphicon-pencil"></i>
        <h3>Share notes in real-time</h3>
        <p>RingBase comes with powerful tools for entering and sharing notes and dollar amounts in real-time.</p>
      </div>

      <div class="col-md-4">
        <i class="glyphicon glyphicon-stats"></i>
        <h3>Track actionable metrics</h3>
        <p>Get the quality metrics you care about summarized for all your employees in one simple dashboard.</p>
      </div>
    </div>
  </div>

</section>


<section class="closing-cta">

  <h2>Get your call center under control today.</h2>

  <%= link_to raw('Create your RingBase account &raquo;'), new_user_path, class: 'btn btn-primary btn-xlarge' %>

</section>
