//= require bootstrap.min

@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/theme';
@import 'components/transfer_modal';
@import 'components/status_switch';
@import 'calls';

body {
  background-color: white;
  color: $gray-text;

  & > .container {
    margin-top: 20px;
    @include mobile { margin-top: 0; }
  }
}

.main-content {
  border: 1px solid $med-gray;

  .organization-name { margin-bottom: 20px; }
}

.top-buffer { margin-top: 20px; }


.whitebox {
  @include border-box;
  @include border-radius;
  @include clearfix;
  background-color: white;
  border: 1px solid $med-gray;
  padding: 15px;
}


.avatar {
  @include border-radius(50%);
  display: inline-block;
  margin-right: 15px;
}


.status-indicator {
  display: inline-block;
  @include border-radius(50%);
  width: 10px;
  height: 10px;

  &.status-available { background-color: $green; }
  &.status-busy      { background-color: $yellow; }
}


.login-banner {
  background-color: $blue;
  height: 225px;
  padding-top: 50px;
  text-align: center;

  h2 { color: white; }

  @include mobile {
    height: 200px;
    padding-top: 25px;
  }
}

.login-form {
  margin-top: -75px;
  padding: 25px 30px 20px !important;

  h3 {
    font-size: 1.5em;
    margin: 0 0 25px;
    text-align: center;
  }

  .form-group { margin-bottom: 25px; }

  .form-control { font-size: 1em; }

  .btn {
    padding: 6px 25px;
    @include mobile { width: 100%; }
  }
}


.notification-bar-container {
  display: none;
  margin-bottom: 20px;

  @include mobile { display: block; }
}

.notification-bar {
  @include border-box;
  @include clearfix;
  background-color: #404040;
  color: white;
  padding: 10px;

  .agent-info-container { padding-top: 5px; }

  .avatar, .agent-name { float: left; }

  .avatar { margin-right: 15px; }

  .agent-name { font-size: 1.1em; }

  .status-switch-container {
    clear: left;
    float: left;
    margin-top: 8px;
  }

  .incoming-call-container { text-align: center; }

  .incoming-call-icon {
    color: lighten(green, 5);
    display: block;
    margin: 0 auto 5px;
    font-size: 2.7em;
    margin-top: 5px;
  }

  .incoming-call-label {
    font-size: 0.8em;
    text-align: center;
  }
}


.calls-table {
  font-size: 0.9em;
  margin-top: 5px;
}

.answer-call {
  &:hover { cursor: pointer; }
}


.sidebar-container {
  .avatar { border: 1px solid #ddd; }

  @media(max-width: 768px) {
    .panel-heading { display: none; }
  }
}


.spinner {
  background: url('/assets/loading.gif');
  background-size: cover;
  display: inline-block;
  height: 20px;
  width: 20px;
}

