//= require bootstrap.min

@import 'lib/variables';
@import 'lib/mixins';

@import 'theme';


body {
  //background-color: #f6f6f6;
  background-color: white;
  color: $gray-text;

  & > .container {
    margin-top: 20px;
  }
}


.whitebox {
  @include border-box;
  @include border-radius;
  @include clearfix;
  background-color: white;
  border: 1px solid $med-gray;
  padding: 15px;
}


.login-banner {
  background-color: $blue;
  height: 225px;
  padding-top: 50px;
  text-align: center;

  h2 { color: white; }

  @include mobile {
    height: 200px;
    padding-top: 25px;
  }
}

.login-form {
  margin-top: -75px;
  padding: 25px 30px 20px !important;

  h3 {
    font-size: 1.5em;
    margin: 0 0 25px;
    text-align: center;
  }

  .form-group { margin-bottom: 25px; }

  .form-control { font-size: 1em; }

  .btn {
    padding: 6px 25px;

    @include mobile { width: 100%; }
  }
}
