//= require bootstrap.min

@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/theme';
@import 'components/transfer_modal';
@import 'components/status_switch';
@import 'organizations';
@import 'landing';
@import 'calls';
@import 'events';

html, body { height: 100%; }

html { overflow-y: scroll; }

body {
  background-color: #F2F2F2;
  color: $gray-text;

  & > .container {
    margin-top: 20px;
    @include mobile { margin-top: 0; }
  }
}

.page-wrap {
  @include clearfix;
  min-height: 100%;

  &:after {
    content: "";
    display: block;
  }
}

.container { @include mobile { padding: 0; } }

.dropdown-menu {
  li {
    a:hover {
      background-color: #008cba;
    }
  }
}

.app-content-container { @include clearfix; }


.sidebar-container,
.main-content {
  float: left;
  min-height: 100% !important;

  @include mobile {
    float: none !important;
    width: 100% !important;
    min-height: 0 !important;
  }
}


.sidebar-container {
  background-color: $sidebar-bg-color;
  border-bottom-left-radius: 5px;
  width: 15%;

  $sidebar-link-border-color: lighten($sidebar-bg-color, 20);

  .nav > li > a {
    background-color: $sidebar-bg-color;
    border-bottom: 1px solid $sidebar-link-border-color;
    color: #f9f9f9;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 15px;

    i { margin-right: 15px; }

    &:hover { background-color: red; }
  }
  .nav > li:first-child a { border-top: 1px solid $sidebar-link-border-color; }

  .panel-heading {
    @include clearfix;
    background-color: $sidebar-bg-color;
    border: 0;
    color: white;
    padding: 20px 15px 25px;

    .sidebar-agent-info-container {
      margin: 5px 0 0 15px;
      float: left;
    }

    p {
      font-size: 1.1em;
      margin: 0 0 5px 0;
      padding: 0;
    }

    .avatar { float: left; }

    .status-switch-container {
      clear: left;
      float: left;
      margin-top: 8px;
    }
  }

  .panel-default { border: 0; }

  @include mobile {
    border-left: 0;

    .panel { margin-bottom: 0; }
  }
}


.main-content {
  background: none;
  border-bottom-right-radius: 5px;
  padding: 20px;
  width: 85%;

  .main-content-inner {
    @include border-radius;
    @include clearfix;
    background-color: white;
    border: 1px solid $med-gray;
    padding: 15px;
  }
}


.top-buffer { margin-top: 25px; }


.spinner {
  background: url('/assets/loading.gif');
  background-size: cover;
  display: inline-block;
  height: 20px;
  width: 20px;
}


.connection-error-container {
  display: none;
  font-size: 1.1em;
  text-align: center;
}


.whitebox {
  @include border-box;
  @include border-radius;
  @include clearfix;
  background-color: white;
  border: 1px solid $med-gray;
  padding: 15px;
}


.avatar {
  @include border-radius(50%);
  display: inline-block;
  margin-right: 15px;
}


.status-indicator {
  display: inline-block;
  @include border-radius(50%);
  width: 10px;
  height: 10px;

  &.status-available { background-color: $green; }
  &.status-busy      { background-color: $yellow; }
}


.login-banner {
  background-color: $blue;
  height: 225px;
  padding-top: 50px;
  text-align: center;

  h2 { color: white; }

  @include mobile {
    height: 200px;
    padding-top: 25px;
  }
}

.login-form {
  margin-top: -75px;
  padding: 25px 30px 20px !important;

  h3 {
    font-size: 1.5em;
    margin: 0 0 25px;
    text-align: center;
  }

  .form-group { margin-bottom: 25px; }

  .form-control { font-size: 1em; }

  .btn {
    padding: 6px 25px;
    @include mobile { width: 100%; }
  }
}


.calls-table {
  font-size: 0.9em;
  margin-top: 5px;
}

.caret {
  visibility: visible;
  float: right;
  margin-top: 8px;
}

#filter {}

#answered-header,
#incoming-header {
  font-size: 1.4em;
}

#answered-header {
  color: #686F68;
  margin-bottom:5px;
  margin-top:30px;
}

#incoming-header {
  color: rgb(63, 163, 50);
  margin-bottom: 5px;
  margin-top: 30px;
}

.calls-header { margin-bottom: 0px;  }

.calls-body {
  height: 300px !important;
  overflow-y: scroll;
  border-right: 1px solid $med-gray;
  border-bottom: 1px solid $med-gray;
  border-left: 1px solid $med-gray;

  table tr {
    font-size: 1.3em;
  }
}

.answer-call {
  &:hover { cursor: pointer; color: red; }
}
