.call-info-container {
  @include clearfix;
  border-bottom: 1px solid $med-gray;
}

.call-info {
  border-left: 1px solid $med-gray;
  color: lighten($gray-text, 5);
  font-size: 2em;
  min-height: 2.7em;
  padding-top: 10px;
  text-align: center;

  &:first-child { border-left: 0; }

  .call-info-label {
    color: #a1a1a1;
    display: block;
    font-size: 14px;
    text-align: left;
  }
}

.call-number { font-size: 0.8em; }

.call-duration {}

.call-payout-container {
  span {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
  }

  .call-payout {
    color: lighten($gray-text, 7);
    float: left;
    font-size: 0.8em;
    height: auto;
    padding: 2px;
    width: 50%;

    &:focus {
      outline: 0;
      border-bottom-color: $blue;
    }
  }
}

.transfer-btn-container {
  padding-top: 17px; // TODO: :(

  .btn { padding: 8px 20px; }
}



.notes-header-container {
  margin-bottom: 10px;
  //border-bottom: 1px solid $med-gray;

  h3 {
    border-bottom: 1px solid $med-gray;
    margin: 15px 20px 10px;
    padding-bottom: 8px;
  }
}

.call-notes-container {
  padding-bottom: 35px;

  // TODO: probably will want to change this for Google-docs style display
  .msg {
    font-size: 0.9em;
    margin-bottom: 3px;

    .msg-from, .msg-time, .msg-body { display: inline-block; }

    .msg-from {
      color: lighten($gray-text, 12);
      font-weight: bold;
      margin-right: 2px;
    }

    .msg-time {
      color: darken($med-gray, 5);
      margin-right: 3px;
    }

    .msg-body {}
  }
}

.notes-input-container {
  border-top: 1px solid $med-gray;
  background-color: lighten($light-gray, 6);
  padding: 15px 15px 10px;
}

.notes-input {
  @include border-box;
  @include clearfix;

  textarea { font-size: 1em; }

  .btn-send {
    float: right;
    margin-top: 15px;
  }
}
