.animation-container {
  position: relative;
  padding: 20px;
}

.node-box {
  border: 2px solid #000;
  float: left;
  font-size: 1.2em;
  padding: 50px 60px;

  &.node-active {
    background-color: rgb(54, 147, 224);
    color: white;
  }
}


.node-link {
  border-top: 4px solid #000;
  position: relative;
  float: left;
  height: 0;
  width: 160px;
  top: 70px;

  &.node-active { border-color: rgb(54, 147, 224); }
}

.node-browser {}
.node-browser-broker {}
.node-broker {}
.node-broker-invoca {}
.node-invoca {}


.node-cassandra {
  margin-left: 90px;
  padding-left: 20px;
  padding-right: 20px;
}

.node-broker-cassandra {
  border-top: 0;
  border-right: 4px solid #000;
  height: 75px;
  top: auto;
}
